.periodic-modal {
  min-width: 40vw;
}

.settings-banner {
  background-color: var(--background-primary-alt);
  border-radius: 8px;
  border: 1px solid var(--background-modifier-border);
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1.5em;
  text-align: left;
}

.settings-banner h3 {
  margin-top: 0;
}

.settings-banner h4 {
  margin-bottom: 0.25em;
}

.has-error {
  color: var(--text-error);
}

input.has-error {
  color: var(--text-error);
  border-color: var(--text-error);
}

.periodic-notes-switcher-input-container {
  position: relative;
}

.periodic-notes-switcher-input-container input {
  padding-left: 80px;
}

.mode-indicator {
  text-transform: capitalize;
  background-color: var(--background-primary);
  color: white;
  padding: 0px 10px;
  position: absolute;
  top: 8px;
  left: 10px;
  border-radius: 6px;
  display: inline-block;
  font-size: 70%;
}

.suggestion-badge {
  background: var(--text-selection);
  border-radius: 6px;
  color: var(--interactive-accent);
  display: inline-block;
  font-size: 65%;
  font-weight: 500;
  line-height: 1.5;
  padding: 0.2em 0.6em;
  position: absolute;
  right: 10px;
  top: 6px;
}
